<!DOCTYPE html>
<html ng-app="reporting">

<head>
    <meta charset="utf-8"/>
    <title>WebSystem</title>
    <script>document.write('<base href="' + document.location + '" />');</script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.24/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet"
          type="text/css"/>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">


    <!--<link rel="stylesheet" type="text/css" href="style.css">-->
    <script data-require="angular.js@1.4.x" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"
            data-semver="1.4.6"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.2.js"></script>


    <script>
        var app = angular.module('reporting', ['ngAnimate', 'ui.bootstrap']);

        app.controller('MainCtrl', function ($scope, $http, $timeout) {


            var interval = 20000;

            $scope.startDate = '';
            $scope.endDate = '';


            var dateToString = $scope.dateToString = function (date) {
                if (date) {
                    date = new Date(date);
                    date.setMinutes(date.getMinutes() - date.getTimezoneOffset());
                    return date.toISOString().slice(0, 10);
                }
                else {
                    return;
                }

            };


            var getLogs = function () {

                var params = {};

                if ($scope.startDate) {

                    params.startDate = dateToString($scope.startDate);
                }

                if ($scope.endDate) {
                    var date = new Date($scope.endDate);
                    date.setDate(date.getDate() + 1);
                    params.endDate = dateToString(date);
                }

                $http({
                    url: '/api/logs',
                    method: 'GET',
                    params: params
                })
                        .success(function (logs) {

                            var cache = {};

                            logs.forEach(function (log) {
                                var parser = document.createElement('a');
                                parser.href = log.url;
                                var urlParse = parser.hostname;
                                var logUniqueId = log.ip + urlParse;//parse url

                                if (!cache[logUniqueId]) {
                                    cache[logUniqueId] = 1;
                                }
                                else {
                                    cache[logUniqueId] += 1;
                                }

                                log.clicks = cache[logUniqueId];

                            });

                            $scope.logs = logs;
                        })
                        .error(function () {

                        })
                        .finally(function () {
                            $timeout(getLogs, interval);
                        });
            };

            $scope.deleteLogs = function () {
                $http({
                    url: '/api/logs',
                    method: 'DELETE'
                }).then(getLogs);
            };

            getLogs();

            $scope.applyFilters = function (startDate, endDate) {

                $scope.startDate = startDate;
                $scope.endDate = endDate;

                getLogs();
            };

            $scope.datePickerOptions = {
                formatYear: 'yy',
                startingDay: 1
            };


        });

    </script>


</head>

<body ng-controller="MainCtrl">

<nav class="navbar navbar-inverse ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Web system of sites</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Settings</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Help</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search..." ng-model="search">
            </form>
        </div>
    </div>
</nav>

<div class="container">

    <h1 class="page-header">HTTP Log</h1>

    <div>
        <div class="row">

            <div class="col-md-4">
                <div class="control">
                    <label class="control-label">Start date</label>

                    <div class="controls">
                        <div class="input-group">
                            <input type="text" class="date-picker form-control" uib-datepicker-popup="yyyy-MM-dd"
                                   ng-model="_startDate" is-open="isStartDateOpened"
                                   datepicker-options="datePickerOptions" ng-required="true"/>
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="isStartDateOpened=true"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <!-- TODO: should be `date-picker` directive -->

                <div class="control-group">
                    <label class="control-label">End date</label>

                    <div class="controls">
                        <div class="input-group">
                            <input type="text" class="date-picker form-control" uib-datepicker-popup="yyyy-MM-dd"
                                   ng-model="_endDate" is-open="isEndDateOpened" datepicker-options="datePickerOptions"
                                   ng-required="true"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="isEndDateOpened=true"><i
                                    class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-1">

                <div class="row" style="margin-top: 23px">

                    <div class="col-md-4">

                        <div class="pull">
                            <!--if i'm want to right button - apply - write in class - class="pull-right"-->

                            <button ng-click="applyFilters(_startDate, _endDate)" class="btn btn-primary" type="submit">
                                Apply
                            </button>
                        </div>


                    </div>

                </div>

            </div>

            <div class="col-md-1">

                <div class="row" style="margin-top: 23px">

                    <div class="col-md-4">

                        <div class="pull">

                            <a href="/api/download?startDate={{ dateToString(_startDate) }}&endDate={{ dateToString(_endDate) }}"
                               target="_blank" class="btn btn-primary" type="submit">Excel</a>
                        </div>
                    </div>

                </div>

            </div>


            <div class="col-md-1">

                <div class="row" style="margin-top: 23px">

                    <div class="col-md-4">

                        <div class="pull">

                            <a ng-click="deleteLogs()" class="btn btn-primary" type="submit">Delete</a>
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>


    <hr/>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Time</th>
                <th>IP</th>
                <th>N*Clicks</th>
                <th>Country</th>
                <th>City</th>
                <th>User</th>
                <th>Region</th>
                <th>Org</th>
                <th>Isp</th>
                <th>URL</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in logs | filter:search | orderBy:'-time'">
                <td>{{ item.time | date:'MMM d, y HH:mm:ss a' }}</td>
                <td>{{ item.ip }}</td>
                <td>{{ item.clicks }}</td>
                <td>{{ item.country }}</td>
                <td>{{ item.city }}</td>
                <td>{{ item.userAgent }}</td>
                <td>{{ item.region }}</td>
                <td>{{ item.org }}</td>
                <td>{{ item.isp }}</td>
                <td>{{ item.url }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>


</body>

</html>
